<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/Public/assets/style.css" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/Public/assets/css/all.min.css">
	<link rel="stylesheet" href="/Public/assets/css/fontawesome.min.css">
	<title>Eat-Da-Burger</title>
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
	<h1>Eat DA Burger!</h1>
	<img id="Hamburger" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRY6mjQ4ApQuLHmCH29_gXpT-d7U6cJ24B4C46dpRil4PysEvc3" width="200px"height= "200px" alt="Logo"></img>
  </div>
</div>
	
	{{{body}}}
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card my-4">
				<h5 class="card-header text-center"> Request a new Burger!</h5>
				<div class="card-body">
					<div class="form-group">
						<label for="new_burger"></label>
						<textarea class="form-control" rows="4" id="new_burger" name="burger_name"></textarea>
						<button id="submit-button" type= "submit" class="btn btn-danger mx-auto mt-4"><i class="fas fa-utensils"></i>Place your favorite Burger</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</body>





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" 
<script src="/Public/assets/button.js"></script>
	<script src="/models/burger.js"></script>
	

</html