
<div class="container">
    <div class="jumbotron">
  <i class="fas fa-hamburger"></i>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-1">
    <div class="panel-panel default">
        <h1>Burgers</h1>
        <ul class="list-group">
            {{#each burgers}}
            {{#unless this.devoured}}
            <li class="list-group-item">
                <div class="input-group">
                    <p class="lead"> {{this.burger_name}}</p>
                    <span class="input-group-btn">
                        <form action="burgers/update/{{this.id}}?_method PUT" method="POST">
                        <input type="hidden" name="devoured" value= "true">
                        <input class="btn btn-primary" type="submit" value="Devour it!"></input>
                         </form>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <div class="panel-panel default">
            <h1>Devoured Burgers</h1>
            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item">
                  <p class="lead">{{this.burger_name}}</p>
                </li>
                {{/if}}
                {{/each}}
               
            </ul>
 
            
        </div>
    </div>
</div>
<div class="col-md-10 col-md-offset-1">
    <p class="lead"> add burger & click submit button</p>
    <!-----Creating the Form for the devoured list------>
    <form action="burgers//create-update-form" action="burgers/create" method= "POST">
    <div class="form-group">
        <textarea class = "form-control input-lg" name="burger_name" id="" rows="10"></textarea>
        
    </div>
    </form>
    
</div> 
