<h1> Burgers</h1>

<h2>Burgers that are devoured</h2>

<ul>
    {{#each burger}}
    {{#unless devoured}}
    {{> burger/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are not devoured</h2>

<ul>
    {{#each burger}}
    {{#if devoured}}
    {{> burger/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2> Add burger</h2>
<form class="create-form">
    <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id = "bu" name="name">
    </div>
    <div class="form-group">
        <label for="dev">Devoured</label><br>
        <input type="radio" name= "devour" value="1" checked> Devoured<br>
    </div> 
    <button type="submit">Add burger</button>
    <h3> Delete burger</h3>
    <form class="create-form">
    <div class="form-group">
        <label for= "dev">Devoured</label><br>
        <input type="radio" name="devour" value="= 1"checked> Devoured<br>
    </div>
    <button type="submit"> Delete</button>
</form> 
